---
name: "{{ service_name }}"
template: appsvcs_integration_v2.0_001
vars:
  extensions__Field1: ''
  extensions__Field2: ''
  extensions__Field3: ''
  feature__easyL4Firewall: auto
  feature__insertXForwardedFor: auto
  feature__redirectToHTTPS: auto
  feature__securityEnableHSTS: disabled
  feature__sslEasyCipher: disabled
  feature__statsHTTP: auto
  feature__statsTLS: auto
  iapp__apmDeployMode: preserve-bypass
  iapp__appStats: enabled
  iapp__asmDeployMode: preserve-bypass
  iapp__logLevel: '7'
  iapp__mode: auto
  iapp__routeDomain: auto
  iapp__strictUpdates: enabled
  l7policy__defaultASM: bypass
  l7policy__defaultL7DOS: bypass
  l7policy__strategy: "/Common/first-match"
  pool__DefaultPoolIndex: '0'
  pool__MemberDefaultPort: ''
  pool__addr: "{{ virtual_ip_address }}"
  pool__mask: 255.255.255.255
  pool__port: '80'
  vs__AdvOptions: ''
  vs__AdvPolicies: ''
  vs__AdvProfiles: ''
  vs__ConnectionLimit: '0'
  vs__Description: ''
  vs__IpProtocol: tcp
  vs__Irules: ''
  vs__Name: "{{ service_name }}_default_vs_80"
  vs__OptionConnectionMirroring: disabled
  vs__OptionSourcePort: preserve
  vs__ProfileAccess: ''
  vs__ProfileAnalytics: ''
  vs__ProfileClientProtocol: "/Common/tcp-wan-optimized"
  vs__ProfileClientSSL: ''
  vs__ProfileClientSSLAdvOptions: ''
  vs__ProfileClientSSLCert: ''
  vs__ProfileClientSSLChain: ''
  vs__ProfileClientSSLCipherString: DEFAULT
  vs__ProfileClientSSLKey: ''
  vs__ProfileCompression: ''
  vs__ProfileConnectivity: ''
  vs__ProfileDefaultPersist: ''
  vs__ProfileFallbackPersist: ''
  vs__ProfileHTTP: ''
  vs__ProfileOneConnect: ''
  vs__ProfilePerRequest: ''
  vs__ProfileRequestLogging: ''
  vs__ProfileSecurityDoS: ''
  vs__ProfileSecurityIPBlacklist: none
  vs__ProfileSecurityLogProfiles: ''
  vs__ProfileServerProtocol: "/Common/tcp-lan-optimized"
  vs__ProfileServerSSL: ''
  vs__RouteAdv: disabled
  vs__SNATConfig: automap
  vs__SourceAddress: 0.0.0.0/0
  vs__VirtualAddrAdvOptions: ''
tables:
  feature__easyL4FirewallBlacklist:
    columns:
    - CIDRRange
    rows:
    - - ''
  feature__easyL4FirewallSourceList:
    columns:
    - CIDRRange
    rows:
    - - 0.0.0.0/0
  l7policy__rulesAction:
    columns:
    - Group
    - Target
    - Parameter
    rows:
    - - ''
      - ''
      - ''
  l7policy__rulesMatch:
    columns:
    - Group
    - Operand
    - Negate
    - Condition
    - Value
    - CaseSensitive
    - Missing
    rows:
    - - ''
      - ''
      - 'no'
      - equals
      - ''
      - 'no'
      - 'no'
  monitor__Monitors:
    columns:
    - Index
    - Name
    - Type
    - Options
    rows:
    - - '0'
      - "/Common/http"
      - ''
      - ''
  pool__Members:
    columns:
    - Index
    - IPAddress
    - Port
    - ConnectionLimit
    - Ratio
    - PriorityGroup
    - State
    - AdvOptions
    rows:
{% for host in groups.Web_Servers %}
    - - '0'
      - '{{ host }}'
      - '80'
      - '0'
      - '1'
      - '0'
      - enabled
      - ''
{% endfor %}
  pool__Pools:
    columns:
    - Index
    - Name
    - Description
    - LbMethod
    - Monitor
    - AdvOptions
    rows:
    - - '0'
      - ''
      - ''
      - round-robin
      - '0'
      - ''
  vs__BundledItems:
    columns:
    - Resource
    rows:
    - - ''
  vs__Listeners:
    columns:
    - Listener
    - Destination
    rows:
    - - ''
      - ''
